/*******************************************************************************/
/* Web de MR.ROBOT                                                             */
/* Hoja de estilo para INDEX                                                   */
/* Autor: Daniel Contreras                                                     */
/* Version: 1.0                                                                */
/* Fecha: 27 de Noviembre de 2022                                                */
/*******************************************************************************/

/* ESTILO about.html*/

@font-face {
    font-family: titulosgrandes;
    src: url(../fonts/fontrobot.ttf);
}

@font-face {
    font-family: texto;
    src: url(../fonts/conthrax-sb.ttf);
}

* {box-sizing: border-box;}


/******* Wrapper *******/

#wrapper {background-color: black;
                background-position: center;
                padding-top: 40px;}


.grid2 {display: grid;
        grid-template-columns: 40% 60%;
        font-family: texto;
}

.definiciones { color: white;
        padding: 10px 10px;
        margin-right: 5%;
        border-radius: 10%;
        text-indent: 7%;
        text-align: justify;
        }

.col2 {padding: 15px 15px;}

.col2 img { width: 100%;
}

.coltextos { width: 100%;}

.titulos { font-size: 1.5rem;
            color: white;
            background-color: rgba(255, 0, 0, 0.671);
            text-align: center;
}


@media only screen and (width<=1100px) {
                                        .grid2 {grid-template-columns: 100%;}
}

    
